/* credit: https://secretgeek.github.io/html_wysiwyg/html.html */

* {
     display:block;
}
 a,code,em,strong {
     display:inline 
}
 *{
     font-family:Monospace;
     text-decoration:none 
}

/* brutify */
 *::before,*::after {
     color:rgb(136, 18, 128, 0.5);
     font-weight:100;
     font-size:1.0em 
}
 html {
     max-width:70ch;
     padding:2ch;
     margin:auto;
     color:#333;
     font-size:1.2em;
}

/* here is the highly repetitive bit */
[data-tag]::before { content: "<" attr(data-tag) attr(data-attrs) ">"; }
[data-tag]::after { content: "</" attr(data-tag) ">"; }

/* additional styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
}
body::after { margin-top: auto }
nav { text-align: right }
nav a { display: block }
pre::before { display: block }

img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
figure[data-src]::before { content: "<img src='"attr(data-src)"'" }
figure[data-src]::after { content: "/>" }

.carousel {
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}
.carousel::-webkit-scrollbar { display: none }
.carousel::before,.carousel::after { 
    display: block;
    position: sticky;
    left: 0;
}
.carousel figure {
    display: inline-block;
    scroll-snap-align: center;
    margin: 0;
}
