/* credit: https://secretgeek.github.io/html_wysiwyg/html.html */

* {
     display:block;
}
 a,code,em,strong {
     display:inline 
}
 *{
     font-family:Monospace;
     text-decoration:none 
}

/* tags with attributes. */
img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
figure[src]::before {
     content: "<img src='"attr(src)"'";


}
figure[src]::after {
    content: "/>";
}

div[class]::before {
    content: "<div class='" attr(class) "'>"
}
div::after {
    content:'</div>' 
}

li *:not(h2)::before, li *::after { display: block  }

.thumb { 
    display:inline; 
    max-width:50%; 
    height:auto; 
}

.carousel {
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}
.carousel::before,.carousel::after { 
    display: block;
    position: sticky;
    left: 0;
}
.carousel figure {
    display: inline-block;
    scroll-snap-align: center;
    margin: 0;
}
.carousel::-webkit-scrollbar {
    display: none;
}

nav { text-align:right; }
nav a { display:block; }

/* brutify */
 *::before,*::after {
     color:rgb(136, 18, 128, 0.5);
     font-weight:100;
     font-size:0.713em 
}
 html {
     max-width:70ch;
     padding:2ch;
     margin:auto;
     color:#333;
     font-size:1.2em;
}
 body {
     margin:0 auto;
     display:flex;
     min-height:100%;
     flex-direction:column;
}

/* here is the highly repetitive bit */
[data-tag]::before { content: "<" attr(data-tag) attr(data-attrs) ">"; }
[data-tag]::after { content: "</" attr(data-tag) ">"; }
