/* credit: https://secretgeek.github.io/html_wysiwyg/html.html */

* {
     display:block;
}
 a,code,em,strong {
     display:inline 
}
 *{
     font-family:Monospace;
     text-decoration:none 
}

/* tags with attributes. */

img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
figure[src]::before {
    content: "<img src='"attr(src)"'";
}
figure[src]::after {
    content: "/>";
}

div[class]::before {
    content: "<div class='" attr(class) "'>"
}
div::after {
    content:'</div>' 
}
.carousel {
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}
.carousel::before,.carousel::after { 
    display: block;
    position: sticky;
    left: 0;
}
.carousel figure {
    display: inline-block;
    scroll-snap-align: center;
    margin: 0;
}
.carousel::-webkit-scrollbar {
    display: none;
}

 a[href]::before {
     content: "<a href='" attr(href) "'>" 
}
 link[rel]::before {
     content: "<link rel='" attr(rel) "' type='" attr(type)"' href='" attr(href) "'>" 
}
 script[verymuchunique]::before {
     content: "<script src='" attr(src) "'></script>" 
}
 meta[name]::before {
     content: "<meta name='" attr(name) "' content='" attr(content) "'>" 
}

/* special escaping for close style */
 style::before {
     content:'<style>' 
}
 style::after {
     content:'<\/style>' 
}

/* brutify */
 *::before,*::after {
     color:rgb(136, 18, 128, 0.5);
     font-weight:100;
     font-size:1.0em 
}
 html {
     max-width:70ch;
     padding:2ch;
     color:#333;
     font-size:1.2em;
     margin:0 auto;
}
 body {
     margin:0 auto;
}

/* here is the highly repetitive bit */
 html::before {
     content:'<html>' 
}
 html::after {
     content:'</html>' 
}
 head::before {
     content:'<head>' 
}
 head::after {
     content:'</head>' 
}
 title::before {
     content:'<title>' 
}
 title::after {
     content:'</title>' 
}
 link::before {
     content:'<link>' 
}
 link::after {
     content:'</link>' 
}
 body::before {
     content:'<body>' 
}
 body::after {
     content:'</body>' 
}
 h1::before {
     content:'<h1>' 
}
 h1::after {
     content:'</h1>' 
}
 h2::before {
     content:'<h2>' 
}
 h2::after {
     content:'</h2>' 
}
 p::before {
     content:'<p>' 
}
 p::after {
     content:'</p>' 
}
 pre::before {
     content:'<pre>\A' 
}
 pre::after {
     content:'</pre>' 
}
 code::before {
     content:'<code>' 
}
 code::after {
     content:'</code>' 
}
 a::before {
     content:'<a>' 
}
 a::after {
     content:'</a>' 
}
 aside::before {
     content:'<aside>' 
}
 aside::after {
     content:'</aside>' 
}
 blockquote::before {
     content:'<blockquote>' 
}
 blockquote::after {
     content:'</blockquote>' 
}
 em::before {
     content:'<em>' 
}
 em::after {
     content:'</em>' 
}
 strong::before {
     content:'<strong>' 
}
 strong::after {
     content:'</strong>' 
}
